<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ricardo Bandala">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/css/login.css">
    <title>Dashboard Template for Bootstrap</title>
</head>
<body>
<header>
</header>

<div class="wrapper">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="user name or email address" required="required" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
    </form>
</div>

</body>
<script src="/renderer.js"></script>
<script src="../asset/js/login.js"></script>
</html>